# --- Кэш и скомпилированные файлы Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Папки виртуальных окружений ---
.conda/
venv/
env/
.venv-tf/

# --- Файлы IDE и редакторов кода ---
.vscode/
.idea/

# --- Критически важные секретные данные ---
# Никогда не добавляйте ваш API-токен в Git!
.env

# --- Сгенерированные файлы проекта ---
# 1. Игнорируем всё СОДЕРЖИМОЕ папки data, но разрешаем Git зайти внутрь
data/*

# 2. Разрешаем Git спускаться по дереву папок до нужного уровня
!data/processed/
data/processed/*

!data/processed/2000_2026_1d_90_15/
data/processed/2000_2026_1d_90_15/*

!data/processed/2000_2026_1d_90_15/fold_*/
data/processed/2000_2026_1d_90_15/fold_*/*

!data/processed/2000_2026_1d_60_10/
data/processed/2000_2026_1d_60_10/*

!data/processed/2000_2026_1d_60_10/fold_*/
data/processed/2000_2026_1d_60_10/fold_*/*

!data/processed/2000_2026_1d_30_5/
data/processed/2000_2026_1d_30_5/*

!data/processed/2000_2026_1d_30_5/fold_*/
data/processed/2000_2026_1d_30_5/fold_*/*

!data/processed/2000_2026_1d_18_3/
data/processed/2000_2026_1d_18_3/*

!data/processed/2000_2026_1d_18_3/fold_*/
data/processed/2000_2026_1d_18_3/fold_*/*

# 3. Наконец-то разрешаем саму папку models и её содержимое!
!data/processed/2000_2026_1d_90_15/fold_*/models/
!data/processed/2000_2026_1d_60_10/fold_*/models/
!data/processed/2000_2026_1d_30_5/fold_*/models/
!data/processed/2000_2026_1d_18_3/fold_*/models/


!data/processed/archive
# Все результаты, логи, графики и модели
*.log
*.png
*.pkl

# --- Временные и служебные файлы ---
# Файлы, которые могут случайно появиться в корневой папке
features*.csv
optimization*.csv
grid_search*.csv
hypercube*.csv
multistart*.csv
stratified*.csv
filelist.txt
organizer.py